<div class="container-fluid">
  <div class="row align-items-center justify-content-center height-100">
    <div class="col-12">
      <div class="row text-center mb-2">
        <div class="col-12">
          <h1>Registra tus datos</h1>
        </div>
      </div>
      <div class="row justify-content-center mb-2">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
          <div class="card">
            <div class="card-body">
              <!--registration form the information -->
              <form id="registerForm">
                <div class="form-group">
                  <label for="nameComplete" class="form-label"
                    >Nombre completo</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="nameComplete"
                    aria-describedby="name"
                    placeholder="Pedro Juan Perez Lopez"
                    required
                    minlength="2"
                  />
                </div>
                <div class="form-group">
                  <label for="idNumber" class="form-label"
                    >Número de identidad</label
                  >
                  <span
                    class="icon-help"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Escriba su identidad sin espacios ni guiones"
                    >?</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="idNumber"
                    aria-describedby="id-number"
                    required
                    placeholder="0801199000165"
                    minlength="2"
                  />
                </div>
                <div class="form-group">
                  <label for="dateOfBirth" class="form-label"
                    >Fecha de nacimiento</label
                  >
                  <input
                    type="date"
                    class="form-control"
                    id="dateOfBirth"
                    aria-describedby="dateOfBirth"
                    required
                    minlength="2"
                  />
                </div>
                <div class="form-group">
                  <label for="address" class="form-label">Dirección</label>
                  <input
                    type="text"
                    class="form-control"
                    id="address"
                    aria-describedby="address"
                    required
                    placeholder="Colonia Lomas"
                    minlength="2"
                  />
                </div>
                <div class="form-group">
                  <label for="phone" class="form-label">Teléfono</label>
                  <span
                    class="icon-help"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Escriba su número de teléfono sin espacios ni guiones"
                    >?</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="phone"
                    aria-describedby="phone"
                    required
                    placeholder="97899124"
                    minlength="2"
                  />
                </div>
                <div class="form-group">
                  <label for="email" class="form-label">Correo</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    aria-describedby="email"
                    required
                    placeholder="juanpedro@gmail.com"
                    minlength="2"
                  />
                </div>
                <button
                  type="submit"
                  class="btn btn-outline-danger"
                  id="saveData"
                  disabled
                >
                  Guardar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--modal to send the information by email -->
<div id="modalForm" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Información a enviar</h5>
            <form>
              <div class="form-group row">
                <label for="showName" class="col-sm-5 col-form-label"
                  >Nombre:</label
                >
                <div class="col-sm-7">
                  <input
                    type="text"
                    readonly
                    class="form-control-plaintext"
                    id="showName"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="showIdNumber" class="col-sm-5 col-form-label"
                  >Número de identidad:</label
                >
                <div class="col-sm-7">
                  <input
                    type="text"
                    readonly
                    class="form-control-plaintext"
                    id="showIdNumber"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="showDateOfBirth" class="col-sm-5 col-form-label"
                  >Fecha de nacimiento:</label
                >
                <div class="col-sm-7">
                  <input
                    type="text"
                    readonly
                    class="form-control-plaintext"
                    id="showDateOfBirth"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="showAddress" class="col-sm-5 col-form-label"
                  >Dirección</label
                >
                <div class="col-sm-7">
                  <input
                    type="text"
                    readonly
                    class="form-control-plaintext"
                    id="showAddress"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="showPhone" class="col-sm-5 col-form-label"
                  >Teléfono:</label
                >
                <div class="col-sm-7">
                  <input
                    type="text"
                    readonly
                    class="form-control-plaintext"
                    id="showPhone"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="showEmail" class="col-sm-5 col-form-label"
                  >Correo</label
                >
                <div class="col-sm-7">
                  <input
                    type="text"
                    readonly
                    class="form-control-plaintext"
                    id="showEmail"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title text-center">
              Correo al que desea enviar la información
            </h5>
            <form id="emailsForm">
              <div class="form-group row">
                <label for="emailClient" class="col-sm-3 col-form-label"
                  >Correo</label
                >
                <div class="col-sm-9">
                  <input type="email" class="form-control" id="mainEmail" />
                </div>
              </div>
              <p>
                <button
                  class="btn btn-primary btn-sm"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapseCc"
                  aria-expanded="false"
                  aria-controls="collapseCc"
                >
                  <strong>+</strong>Cc
                </button>
              </p>
              <div class="collapse" id="collapseCc">
                <div class="form-group row">
                  <label for="emailCc" class="col-sm-3 col-form-label"
                    >Cc</label
                  >
                  <div class="col-sm-9">
                    <input type="email" class="form-control" id="emailCc" />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="sendEmail"
          disabled
          class="btn btn-outline-danger"
        >
          Enviar correo
        </button>
      </div>
    </div>
  </div>
</div>
<!--Notification-->
<div
  class="toast"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  data-delay="6000"
>
  <div class="toast-body text-white">
    <i id="iconMessage" class="fas"></i>
    <span id="messageToast"></span>
  </div>
</div>
